@import "./base/reset";
@import "./utilits/breakpoints";
@import "./utilits/mixins";
@import "./utilits/variables";
@import "./base/common";
@import "./components/containers";
@import "./components/spiner";
@import "./components/logo";
@import "./components/burger";
@import "./layout/01-header";
@import "./layout/02-hero";
@import "./layout/03-skills";
@import "./layout/04-about-us";
@import "./layout/05-pricing";
@import "./layout/06-contact-us";
@import "./layout/07-footer";