@use "sass:string";

$family: "Poppins";

$main: (
    first: #8f95a5,
    second: #263238,
);

$dark: (
    first: #000,
    second: #2a3246,
);

$light: (
    first: #fff,
    second: #939393,
    third: #546269,
    fourth: #eee,
    fifth: #c4c4c4,
    sixth: #f5f5f5,
    seventh: #004fa3,
);

$var-maps: (
  "main": $main,
  "dark": $dark,
  "light": $light,
);

@function get-var($variable-name) {
  $parts: string.split($variable-name, '__');
  $prefix: nth($parts, 1);
  $key: nth($parts, 2);

  @if not map-has-key($var-maps, $prefix) {
    @error "Невідомий префікс '#{$prefix}' для змінної '#{$variable-name}'. Допустимі префікси: #{map-keys($var-maps)}.";
  }

  $target-map: map-get($var-maps, $prefix);

  @if not map-has-key($target-map, $key) {
    @error "Ключ '#{$key}' не знайдено в мапі '#{$prefix}'.";
  }

  @return map-get($target-map, $key);
}