<section class="header">
    <div class="container">
        <a href="#" class="logo">Brit<span class="logo--grey">lex</span></a>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-list__item"><a class="nav-list__link" href="#">Home</a></li>
                <li class="nav-list__item"><a class="nav-list__link" href="#">Skills</a></li>
                <li class="nav-list__item"><a class="nav-list__link" href="#">About Us</a></li>
                <li class="nav-list__item"><a class="nav-list__link" href="#">Pricing</a></li>
                <li class="nav-list__item"><a class="nav-list__link" href="#">Contacts</a></li>
            </ul>
        </nav>
        <button class="header__button">Let’s Talk</button>
        <button class="burger-menu__open" data-burger-open>
            <svg width="34px" height="19px">
                <use href="/img/sprite.svg#icon-burger"></use>
            </svg>
        </button>
        <div class="burger-menu displaynone" data-burger>
            <div class="container bcontainer">
                <button class="burger-menu__close" data-burger-close>
                    <svg width="39px" height="39px">
                        <use href="/img/sprite.svg#burger-close"></use>
                    </svg>
                </button>

                <a href="#" class="logo">Brit<span class="logo--grey">lex</span></a>
                <nav class="bnav">
                    <ul class="bnav-list">
                        <li class="bnav-list__item"><a class="nav-list__link" href="#">Home</a></li>
                        <li class="bnav-list__item"><a class="nav-list__link" href="#">Skills</a></li>
                        <li class="bnav-list__item"><a class="nav-list__link" href="#">About Us</a></li>
                        <li class="bnav-list__item"><a class="nav-list__link" href="#">Pricing</a></li>
                        <li class="bnav-list__item"><a class="nav-list__link" href="#">Contacts</a></li>
                    </ul>
                </nav>
                <button class="burger-menu__button">Let’s Talk</button>
            </div>
        </div>
    </div>
</section>