<section id="hero" class="hero">
    <div class="container">
        <div class="hero__content">
            <h1 class="hero__title">Learn
Any Foreign
Language</h1>
            <!-- <svg class="hero__svg">
                <use href="/img/lamp.svg"></use>
            </svg> -->
            <img class="hero__svg" src="/img/lamp.svg" alt="lamp">
            <p class="hero__description">With our teachers who write a program for
                each student, you will be able to make your
                first sketch after the first lesson.</p>
            <button class="hero__button">Get started</button>
        </div>
        <img class="hero__img" src="/img/girl-translator.svg" alt="girl-translator">
    </div>
</section>