<section id="skills" class="skills">
    <div class="container">
        <h2 class="skills__title">Skills</h2>
        <ul class="skills-list">
            <li class="skills-list__item a">
                <img class="skills-list__img" src="/img/document-sharing.svg" alt="document-sharing">
                <div class="skills-list__content">
                    <h3 class="skills-list__title">Speaking</h3>
                    <p class="skills-list__description">Improve your English skills<br class="br--t">
                        and<br class="br--m br--mxl br--txl"> confidence.<br class="br--d"> Live classes<br class="br--t">
                        and<br class="br--mxl br--txl"> interactive<br class="br--m"> lessons online.<br class="br--mxl br--t br--txl br--d">
                        20% extra free for<br class="br--m"> a limited<br class="br--mxl br--t">
                        time only<br class="br--m">
                        <br class="br--m br--mxl br--t br--txl br--d">
                        <br class="br--m br--mxl br--t br--txl br--d">
                        Learn English online and<br class="br--mxl br--t">
                        improve<br class="br--txl"> your<br class="br--m br--t br--txl br--d">
                        skills through our<br class="br--mxl"> high-quality<br class="br--t br--txl">
                        courses<br class="br--m br--d"> and<br class="br--mxl"> resources – all<br class="br--t br--txl">
                        designed for<br class="br--mxl"> adult<br class="br--m br--d"> language<br class="br--t br--txl">
                        learners.</p>
                    <button class="skills-list__button">Learn more</button>
                </div>
            </li>
            <li class="skills-list__item b">
                <img class="skills-list__img" src="/img/typewriter.svg" alt="typewriter">
                <div class="skills-list__content">
                    <h3 class="skills-list__title">Writing</h3>
                    <p class="skills-list__description">One of the most important<br class="br--mxl br--t"> and<br class="br--txl"> extensive<br class="br--m br--d">
                        areas of<br class="br--mxl br--t"> natural<br class="br--txl"> science, the science<br class="br--mxl br--t"> that<br class="br--m br--d">
                        studies<br class="br--txl"> substances,<br class="br--mxl br--t"> also their composition </p>
                    <button class="skills-list__button">Learn more</button>
                </div>
            </li>
            <li class="skills-list__item c">
                <img class="skills-list__img" src="/img/reading.svg" alt="reading">
                <div class="skills-list__content">
                    <h3 class="skills-list__title">Reading</h3>
                    <p class="skills-list__description">perception and response<br class="br--mxl br--t"> actions<br class="br--m br--txl"> of the user<br class="br--d">
                        resulting<br class="br--mxl br--t"> from the use<br class="br--txl"> and<br class="br--m">/or up<br class="br--mxl br--t">coming use<br class="br--d">
                        of the<br class="br--txl"> product,<br class="br--m br--mxl br--t"> system or service</p>
                    <button class="skills-list__button">Learn more</button>
                </div>
            </li>
            <li class="skills-list__item d">
                <img class="skills-list__img" src="/img/podcast-audience.svg" alt="podcast-audience">
                <div class="skills-list__content">
                    <h3 class="skills-list__title">Listening</h3>
                    <p class="skills-list__description">Here you can find activities<br class="br--mxl"> to practise<br class="br--m br--t br--txl br--d">
                        your listening skills.<br class="br--mxl"> Listening will help<br class="br--m br--t"> you<br class="br--txl br--d">
                        to<br class="br--mxl"> improve your understanding </p>
                    <button class="skills-list__button">Learn more</button>
                </div>
            </li>
        </ul>
    </div>
</section>