<section id="skills" class="skills">
    <div class="container">
        <h2 class="skills__title">Skills</h2>
        <ul class="skills-list">
            <li class="skills-list__item a">
                <img class="skills-list__img" src="/img/document-sharing.svg" alt="document-sharing">
                <div class="skills-list__content">
                    <h3 class="skills-list__title">Speaking</h3>
                    <p class="skills-list__description">Improve your English skills
                        and confidence. Live classes
                        and interactive lessons online.
                        20% extra free for a limited
                        time only

                        
                        Learn English online and
                        improve your
                        skills through our high-quality
                        courses and resources – all
                        designed for adult language
                        learners.</p>
                    <button class="skills-list__button">Learn more</button>
                </div>
            </li>
            <li class="skills-list__item b">
                <img class="skills-list__img" src="/img/typewriter.svg" alt="typewriter">
                <div class="skills-list__content">
                    <h3 class="skills-list__title">Writing</h3>
                    <p class="skills-list__description">One of the most important and extensive
                        areas of natural science, the science that
                        studies substances, also their composition </p>
                    <button class="skills-list__button">Learn more</button>
                </div>
            </li>
            <li class="skills-list__item c">
                <img class="skills-list__img" src="/img/reading.svg" alt="reading">
                <div class="skills-list__content">
                    <h3 class="skills-list__title">Reading</h3>
                    <p class="skills-list__description">perception and response actions of the user
                        resulting from the use and/or upcoming use
                        of the product, system or service</p>
                    <button class="skills-list__button">Learn more</button>
                </div>
            </li>
            <li class="skills-list__item d">
                <img class="skills-list__img" src="/img/podcast-audience.svg" alt="podcast-audience">
                <div class="skills-list__content">
                    <h3 class="skills-list__title">Listening</h3>
                    <p class="skills-list__description">Here you can find activities to practise
                        your listening skills. Listening will help you
                        to improve your understanding </p>
                    <button class="skills-list__button">Learn more</button>
                </div>
            </li>
        </ul>
    </div>
</section>