<section id="about-us" class="about-us">
    <div class="container">
        <h2 class="about-us__title">About Us</h2>
        <div class="about-us__content">
            <h2 class="about-us__title2">About Us</h2>
            <p class="about-us__description">
                The model offers a framework for discussing<br class="br--m br--t"> problems related<br class="br--txl br--d"> to the<br class="br--mxl"> user's experience, as<br class="br--m br--t"> well as
                possible ways and means<br class="br--txl"> of<br class="br--d"> solving<br class="br--m br--t"> them.<br class="br--mxl"> Application development begins at<br class="br--m"> the<br class="br--t"> top level<br class="br--txl br--d"> (strategy),
                where the<br class="br--mxl"> future<br class="br--m"> software<br class="br--t"> product is described quite<br class="br--m br--txl br--d"> abstractly from<br class="br--t"> the point of<br class="br--mxl"> view of the<br class="br--m">
                expectations of both<br class="br--t br--d"> users<br class="br--txl"> and the customer.
            </p>
            <ul class="about-us-list">
                <li class="about-us-list__item">
                    <h3 class="about-us-list__number">800</h3>
                    <p class="about-us-list__description">Pupils</p>
                </li>
                <li class="about-us-list__item">
                    <h3 class="about-us-list__number">18</h3>
                    <p class="about-us-list__description">Teachers</p>
                </li>
                <li class="about-us-list__item">
                    <h3 class="about-us-list__number">6</h3>
                    <p class="about-us-list__description">Foreign languages</p>
                </li>
            </ul>
        </div>
        <img class="about-us__img" src="/img/business-competition.svg" alt="business-competition">
    </div>
</section>