.contact__message {
    display: none;
    opacity: 0;
    transition: opacity 0.4s ease;

    &.visible {
        display: block;
        opacity: 1;
    }
}

.contact-thanks {
    text-align: center;

    h3 {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    p {
        font-size: 16px;
        margin-bottom: 6px;
    }

    .britlex {
        margin-top: 10px;
        font-size: 22px;
        font-weight: 600;

        span {
            color: get-var(main__second);
        }
    }
}
