.skills {
    background-color: yellow;
    padding-bottom: 50px;

    @media screen and (min-width: getBreakPoint(tablet)) {
        padding-bottom: 52px;
    }

    @media screen and (min-width: getBreakPoint(mobile-xl)) {
        padding-bottom: 84px;
    }

    @media screen and (min-width: getBreakPoint(tablet-xl)) {
        padding-bottom: 106px;
    }

    @media screen and (min-width: getBreakPoint(desktop)) {
        padding-bottom: 252px;
    }

    &__title {
        font-weight: 600;
        text-align: center;
        color: get-var(dark__first);

        font-size: 24px;
        line-height: 3.33;
        margin-bottom: 56px;

        @media screen and (min-width: getBreakPoint(tablet)) {
            font-size: 30px;
            line-height: 2.67;
        }

        @media screen and (min-width: getBreakPoint(tablet-xl)) {
            font-size: 36px;
            line-height: 2.22;
            margin-bottom: 70px;
        }

        @media screen and (min-width: getBreakPoint(desktop)) {
            font-size: 48px;
            line-height: 1.67;
            margin-bottom: 96px;
        }
    }

    .skills-list {
        @include flex;
        flex-direction: column;
        gap: 21px;

        @media screen and (min-width: getBreakPoint(mobile-xl)) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            column-gap: 30px;
            row-gap: 34px;
        }

        @media screen and (min-width: getBreakPoint(tablet)) {
            width: 698px;
            gap: 10px;
            grid-template-areas:
                "a b c"
                "a b c"
                "a d d";
            grid-template-columns: auto;
            grid-template-rows: auto;
        }

        @media screen and (min-width: getBreakPoint(tablet-xl)) {
            width: 934px;
            margin: 0 auto;
        }

        @media screen and (min-width: getBreakPoint(desktop)) {
            width: 100%;
        }

        &__item {
            background: get-var(light__sixth);
            border-radius: 5px;
            padding-bottom: 45px;
            width: 290px;

            @include flex;
            flex-direction: column;

            @media screen and (min-width: getBreakPoint(mobile-xl)) {
                width: 240px;
                height: 534px;
            }

            @media screen and (min-width: getBreakPoint(tablet)) {
                width: auto;
                height: auto;
                padding-bottom: 27px;
            }

            .skills-list__img {
                margin: 0 auto 10px;
                display: block;
            }

            .skills-list__content {
                padding: 0 16px;

                @media screen and (min-width: getBreakPoint(mobile-xl)) {
                    @include flex;
                    flex-direction: column;
                    flex-grow: 1;
                }

                @media screen and (min-width: getBreakPoint(desktop)) {
                    padding-left: 33px;
                    padding-bottom: 20px;
                }
            }

            .skills-list__title {
                font-weight: 600;
                font-size: 18px;
                line-height: 4;
                color: get-var(main__second);

                @media screen and (min-width: getBreakPoint(tablet)) {
                    font-size: 20px;
                }

                @media screen and (min-width: getBreakPoint(tablet-xl)) {
                    font-size: 22px;
                    line-height: 3.64;
                }

                @media screen and (min-width: getBreakPoint(desktop)) {
                    font-size: 30px;
                    line-height: 2.67;
                }
            }

            .skills-list__description {
                font-size: 13px;
                margin-bottom: 33px;

                @media screen and (min-width: getBreakPoint(mobile-xl)) {
                    flex-grow: 1;
                    margin-bottom: 0;
                }

                @media screen and (min-width: getBreakPoint(tablet)) {
                    margin-bottom: 10px;
                }

                @media screen and (min-width: getBreakPoint(tablet-xl)) {
                    font-size: 14px;
                }

                @media screen and (min-width: getBreakPoint(desktop)) {
                    font-size: 20px;
                }
            }

            .skills-list__button {
                @include button(178px, 50px, 14px);

                @media screen and (min-width: getBreakPoint(mobile-xl)) {
                    @include button(200px, 50px, 14px);
                }

                @media screen and (min-width: getBreakPoint(tablet)) {
                    @include button(178px, 50px, 16px);
                }

                @media screen and (min-width: getBreakPoint(tablet-xl)) {
                    @include button(196px, 57px, 18px);
                }
            }
        }

        .a {
            @media screen and (min-width: getBreakPoint(tablet)) {
                grid-area: a;
                width: 224px;
                padding: 31px 0 37px;
            }

            @media screen and (min-width: getBreakPoint(tablet-xl)) {
                width: auto;
            }

            @media screen and (min-width: getBreakPoint(desktop)) {
                width: 435px;
            }

            .skills-list__img {
                @media screen and (min-width: getBreakPoint(tablet)) {
                    width: 214px;
                }

                @media screen and (min-width: getBreakPoint(tablet-xl)) {
                    width: 260px;
                }
            }

            .skills-list__content {
                @media screen and (min-width: getBreakPoint(desktop)) {
                    padding-bottom: 25px;
                }
            }

            .skills-list__description {
                @media screen and (min-width: getBreakPoint(tablet)) {
                    white-space: pre-line;
                }

                @media screen and (min-width: getBreakPoint(desktop)) {
                    font-size: 25px;
                }
            }
        }

        .b {
            @media screen and (min-width: getBreakPoint(tablet)) {
                grid-area: b;
                width: 227px;
            }

            @media screen and (min-width: getBreakPoint(tablet-xl)) {
                width: 303px;
            }

            @media screen and (min-width: getBreakPoint(desktop)) {
                width: 435px;
            }

            .skills-list__title {
                @media screen and (min-width: getBreakPoint(tablet)) {
                    line-height: 3.2;
                }

                @media screen and (min-width: getBreakPoint(tablet-xl)) {
                    line-height: 3.64;
                }
            }

            .skills-list__img {
                @media screen and (min-width: getBreakPoint(tablet)) {
                    width: 200px;
                    margin-bottom: 0;
                }

                @media screen and (min-width: getBreakPoint(tablet-xl)) {
                    width: 205px;
                    margin-left: 30%;
                }

                @media screen and (min-width: getBreakPoint(desktop)) {
                    width: 293px;
                }
            }
        }

        .c {
            @media screen and (min-width: getBreakPoint(tablet)) {
                grid-area: c;
            }

            @media screen and (min-width: getBreakPoint(tablet-xl)) {
                width: 303px;
            }

            @media screen and (min-width: getBreakPoint(desktop)) {
                width: 435px;
            }

            .skills-list__img {
                @media screen and (min-width: getBreakPoint(tablet)) {
                    margin-top: 34px;
                    width: 216px;
                }

                @media screen and (min-width: getBreakPoint(tablet-xl)) {
                    width: 243px;
                    margin: 16px 0 18px;
                }

                @media screen and (min-width: getBreakPoint(desktop)) {
                    width: 371px;
                    margin-bottom: 43px;
                }
            }
        }

        .d {
            @media screen and (min-width: getBreakPoint(tablet)) {
                grid-area: d;
                flex-direction: row;
                padding-bottom: 0;
            }

            .skills-list__img {
                @media screen and (min-width: getBreakPoint(tablet)) {
                    order: 1;
                    width: 202px;
                    margin: 59px 0 0 0;
                }

                @media screen and (min-width: getBreakPoint(tablet-xl)) {
                    width: 254px;
                    margin-top: 5px;
                }

                @media screen and (min-width: getBreakPoint(desktop)) {
                    width: 382px;
                }
            }

            .skills-list__content {
                @media screen and (min-width: getBreakPoint(tablet)) {
                    padding: 0 0 0 22px;
                }

                @media screen and (min-width: getBreakPoint(desktop)) {
                    padding: 33px 0 35px 43px;
                }
            }

            .skills-list__description {
                @media screen and (min-width: getBreakPoint(tablet-xl)) {
                    width: 303px;
                    margin-bottom: 15px;
                }

                @media screen and (min-width: getBreakPoint(desktop)) {
                    margin-bottom: 25px;
                }
            }

            .skills-list__button {
                @media screen and (min-width: getBreakPoint(tablet)) {
                    margin-bottom: 26px;
                }
            }
        }
    }
}