.pricing {
    background-color: yellow;
    padding-bottom: 72px;

    @media screen and (min-width: getBreakPoint(mobile-xl)) {
        padding-bottom: 163px;
    }

    @media screen and (min-width: getBreakPoint(tablet)) {
        padding-bottom: 94px;
    }

    @media screen and (min-width: getBreakPoint(tablet-xl)) {
        padding-bottom: 141px;
    }

    @media screen and (min-width: getBreakPoint(desktop)) {
        padding-bottom: 257px;
    }

    &__title {
        font-weight: 600;
        text-align: center;
        color: get-var(dark__first);

        font-size: 22px;
        line-height: 3.33;
        margin-bottom: 36px;

        @media screen and (min-width: getBreakPoint(tablet)) {
            font-size: 30px;
            line-height: 2.67;
            margin-bottom: 48px;
        }

        @media screen and (min-width: getBreakPoint(tablet-xl)) {
            font-size: 36px;
            line-height: 2.22;
            margin-bottom: 60px;
        }

        @media screen and (min-width: getBreakPoint(desktop)) {
            font-size: 48px;
            line-height: 1.67;
            margin-bottom: 96px;
        }
    }

    .pricing-list {
        @include flex;
        flex-direction: column;

        @media screen and (min-width: getBreakPoint(tablet)) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (min-width: getBreakPoint(tablet-xl)) {}

        @media screen and (min-width: getBreakPoint(desktop)) {
            gap: 56px;
        }

        &__item {
            text-align: center;
            width: 310px;
            margin: 0 auto;

            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 50px;

            @media screen and (min-width: getBreakPoint(tablet)) {
              max-width: 220px;
            }

             @media screen and (min-width: getBreakPoint(tablet-xl)) {
              max-width: 295px;
            }

             @media screen and (min-width: getBreakPoint(desktop)) {
              max-width: 375px;
            }
        }

        /* ===================== КАРТИНКИ ===================== */

        &__img {
            width: 100%;
            margin: 0 auto 24px;
            height: 220px;
            object-fit: contain;
        }

        /* Макетні width (залишаєм твої!) */

        .pricing-list__item:nth-child(1) .pricing-list__img {
            width: 248px;

            @media screen and (min-width: getBreakPoint(mobile-xl)) {
                width: 291px;
            }

            @media screen and (min-width: getBreakPoint(tablet)) {
                width: 197px;
            }

            @media screen and (min-width: getBreakPoint(tablet-xl)) {
                width: 222px;
            }

            @media screen and (min-width: getBreakPoint(desktop)) {
                width: 311px;
            }
        }

        .pricing-list__item:nth-child(2) .pricing-list__img {
            width: 257px;

            @media screen and (min-width: getBreakPoint(mobile-xl)) {
                width: 314px;
            }

            @media screen and (min-width: getBreakPoint(tablet)) {
                width: 219px;
            }

            @media screen and (min-width: getBreakPoint(tablet-xl)) {
                width: 267px;
            }

            @media screen and (min-width: getBreakPoint(desktop)) {
                width: 391px;
            }
        }

        .pricing-list__item:nth-child(3) .pricing-list__img {
            width: 241px;

            @media screen and (min-width: getBreakPoint(mobile-xl)) {
                width: 253px;
            }

            @media screen and (min-width: getBreakPoint(tablet)) {
                width: 210px;
            }

            @media screen and (min-width: getBreakPoint(tablet-xl)) {
                width: 242px;
            }

            @media screen and (min-width: getBreakPoint(desktop)) {
                width: 340px;
            }
        }

        /* ===================== ТЕКСТОВИЙ БЛОК ===================== */

        .pricing-text-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            min-height: 150px;
            width: 100%;
        }

        &__name {
            font-family: $family, "Poppins";
            font-weight: 600;
            font-size: 19px;
            line-height: 155%;
            color: #263238;
            color: get-var(main__second);
            margin-bottom: 14px;

            @media screen and (min-width: getBreakPoint(tablet)) {
                font-size: 19px;
                width: 150px;
                text-align: left;
            }

            @media screen and (min-width: getBreakPoint(tablet-xl)) {
                font-size: 22px;
                width: 273px;
                text-align: center;
            }

            @media screen and (min-width: getBreakPoint(desktop)) {
                font-size: 30px;
                   width: 373px;
                text-align: center;
            }
        }

        &__description {
            font-family: $family, "Poppins";
            font-weight: 400;
            font-size: 16px;
            line-height: 1.6;
            color: get-var(main__first);
            margin: 0 auto 22px;
            width: 280px;

            @media screen and (min-width: getBreakPoint(tablet)) {
                width: 100%;
                margin-bottom: 14px;
            }

            @media screen and (min-width: getBreakPoint(desktop)) {
                font-size: 18px;
                width: 330px;
                margin-bottom: 26px;
            }
        }

        /* ===================== ЦІНА ===================== */

        &__price {
            font-weight: 600;
            font-size: 16px;
            display: inline-flex;
            align-items: center;
            gap: 10px;
            padding: 12px 18px;
            border-radius: 6px;
            background: get-var(light__sixth);
            color: get-var(dark__first);

            @media screen and (min-width: getBreakPoint(tablet)) {
                font-size: 18px;
                margin-top: auto;
            }

            @media screen and (min-width: getBreakPoint(desktop)) {
                font-size: 20px;
                padding: 14px 20px;
            }
        }

        &__period {
            font-weight: 400;
            font-size: 14px;
            color: get-var(dark__second);

            @media screen and (min-width: getBreakPoint(desktop)) {
                font-size: 16px;
            }
        }
    }
}